@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
    background: url('background.jpg') no-repeat center center fixed; 
    background-size: cover; 

.content-container {
    border-radius: 15px; 
    padding: 20px; 
    box-sizing: border-box; 
    width: 100%;
    max-width: 1200px; 
    background: rgba(255, 255, 255, 0.4); 
    backdrop-filter: blur(10px); 
}

footer {
    text-align: right;
    font-size: small;
}

#maincontainer {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}

#maincontainer p {
    text-align: justify; 
    width: 100%; 
    line-height: 1.2; 
}

header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin-top: 20px; 
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0; 
    width: 100%;
}

.grid-item {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px; 
    border: 1px solid black; 
}

.grid-item:nth-child(1) {
    border-top: none; 
    border-left: none; 
}

.grid-item:nth-child(2) {
    border-top: none; 
    border-right: none; 
}

.grid-item:nth-child(3) {
    border-bottom: none; 
    border-left: none;
}

.grid-item:nth-child(4) {
    border-bottom: none;
    border-right: none; 
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0; 
    padding: 10px 0;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    margin-right: 10px; 
}

.profile-name {
    font-size: 1.2em;
    font-weight: bold;
}

.profile-title {
    font-size: 1em;
    font-weight: normal;
    margin-top: 5px;
}
